/* Injected CSS Code */

/*PREFERENCES STYLE*/
/* NEW THEME STYLE */


.supernova body {
    background: transparent;
}

.supernova {
    background-color: #4281DB;
    /* background-color: #041f46; */
}

body {
    /* color: #102D80; */
    /* color: #4281DB; */
    font-size: 16px;
    /* font-family: Inter; */
    font-family: Verdana;
    /* background-color: #2462B9; */
}

.upload {
    /* background-color: indigo; */
    /* background-color: #0C1F46; */
    /* color: white; */
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    /* margin-top: 20px; */
    position: relative;
}

.form-all {
    margin-top: 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px rgba(17, 24, 38, 0.21)
}

.form-line-active {
    background-color: #F1F5FF;
}

.form-line-error {
    background-color: #FFEDED;
}

.form-line-error input:not(#coupon-input):not(.form-validation-error) {
    border-color: #C3CAD8;
}

.form-label {
    color: #102D80;
}

.form-sub-label {
    color: #2C63B1;
}

.form-dropdown,
.form-textarea,
.form-textbox,
.form-checkbox+label:before,
.form-radio+label:before,
.form-radio+span:before,
.form-checkbox+span:before {
    border-color: #C3CAD8;
    background-color: #ffffff;
    color: #2C3345;
}

questionLine-editButton {
    color: #102D80;
}

.appointmentCalendarContainer {
    background-color: #ffffff;
}

.form-checkbox+label,
.form-radio+label {
    color: #102D80;
}

.form-dropdown:hover,
.form-textarea:hover,
.form-textbox:hover,
.form-checkbox:hover+label:before,
.form-radio:hover+label:before {
    border-color: #2E69FF;
    box-shadow: 0 0 0 2px #C9D8FE;
}

.form-dropdown:focus,
.form-textarea:focus,
.form-textbox:focus,
.form-checkbox:focus+label:before,
.form-radio:focus+label:before {
    border-color: #2E69FF;
    box-shadow: 0 0 0 3px #C9D8FE;
}

.form-matrix-column-headers,
.form-matrix-table td,
.form-matrix-table td:last-child,
.form-matrix-table th,
.form-matrix-table th:last-child,
.form-matrix-table tr:last-child td,
.form-matrix-table tr:last-child th,
.form-matrix-table tr:not([role=group])+tr[role=group] th {
    color: #2C3345;
}

.form-radio:checked+label:after {
    background-color: #2E69FF;
}

.form-checkbox:checked+label:before {
    background-color: #2E69FF;
    border-color: #2E69FF;
}

.form-radio:checked+label:before {
    border-color: #2E69FF;
}

.form-header {
    color: #102D80;
}

.jSignature,
.signature-pad-passive {
    border-color: #C3CAD8;
}

.form-header-group .form-subHeader {
    color: #2C63B1;
}

.form-header-group {
    border-color: #C3CAD8;
}

.header-large {
    color: #C3CAD8;
    border-color: #c3cad8;
}

li[data-type="control_text"] .form-html {
    color: #7F8DAA;
}

li[data-type="control_datetime"] .extended .allowTime-container+.form-sub-label-container {
    background-color: #ffffff;
}

.form-buttons-wrapper .form-submit-button:not(.form-sacl-button) {
    background-color: #18BD5B;
    border-color: #C3CAD8;
}

.form-buttons-wrapper .form-sacl-button[data-component],
form-submit-print {
    color: #2C3345;
}

.form-buttons-wrapper .form-pagebreak-next {
    background-color: undefined;
}

.form-buttons-wrapper .form-pagebreak-back {
    background-color: #7EA9E6;
}

/* NEW THEME STYLE */
/*PREFERENCES STYLE*/
/*PREFERENCES STYLE*/
.form-all {
    font-family: Inter, sans-serif;
}

.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
    font-family: Inter, sans-serif;
}

.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
    font-family: Inter, sans-serif;
}

.form-header-group {
    font-family: Inter, sans-serif;
}

.form-label {
    font-family: Inter, sans-serif;
}

.form-label.form-label-auto {

    display: block;
    float: none;
    text-align: left;
    width: 100%;

}

.form-line {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-all {
    max-width: 650px;
    width: 100%;
}

.form-label.form-label-left,
.form-label.form-label-right,
.form-label.form-label-left.form-label-auto,
.form-label.form-label-right.form-label-auto {
    width: 230px;
}

.form-all {
    font-size: 16px
}

.form-all .qq-upload-button,
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
    font-size: 16px
}

.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
    font-size: 16px
}

.supernova .form-all,
.form-all {
    background-color: #ffffff;
    border: 1px solid transparent;
}

.form-all {
    color: #003366;
}

.form-label-top,
.form-label-left,
.form-label-right,
.form-html,
.form-checkbox-item label,
.form-radio-item label {
    color: #003366;
}


.form-textbox,
.form-textarea,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
    background-color: #ffffff;
}

.supernova {
    background-image: none;
}

#stage {
    background-image: none;
}

.form-all {
    background-image: none;
}

.ie-8 .form-all:before {
    display: none;
}

.ie-8 {
    margin-top: auto;
    margin-top: initial;
}

/*PREFERENCES STYLE*/
/*__INSPECT_SEPERATOR__*/
/* Injected CSS Code */

@media print {
    .form-section {
        display: inline !important
    }

    .form-pagebreak {
        display: none !important
    }

    .form-section-closed {
        height: auto !important
    }

    .page-section {
        position: initial !important
    }
}