@charset "utf-8";
/* CSS Document */

.cnt form {
	width:100%;
	margin-top:20px;
	float:left;
}
.update-field {
	width:100%;
	padding:0;
	margin:0;
	margin-bottom:5px;
	padding-bottom:0;
	float:left;
}


.side_menu_1
{
	background-color:transparent;
	border:none; 
	width:inherit; 
	height:inherit; 
	text-align:left; color:blue;
}
.badge_format
{
	color:red; 
	margin-right:10px; 
	background-color:white
}
.input_span
{
	width:150px;
	height:33px;
	margin-bottom:10px;
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
	border:1px solid #CCC;
}
.update-field-special {
	width:100%;
	padding:0;
	margin:0;
	margin-bottom:5px;
	padding-bottom:0;
	float:left;
}

.update-field label {
	width:100%;
	font-size:15px;
	line-height:20px;
	font-weight:500;
	margin-right:20px;
	color:#333;
	text-align:left;
	float:left;
}

.update-field-special label {
	width:100%;
	font-size:15px;
	line-height:20px;
	font-weight:500;
	margin-right:20px;
	color:#333;
	text-align:left;
	float:left;
}

.user_form .update-field {
	width:520px;
	padding:0;
	margin:0;
	margin-bottom:5px;
	padding-bottom:10px;
	/*border:1px solid #CCC;*/
	float:left;
}
.personal .update-field-special {
	width:520px;
	padding:0;
	margin:0;
	margin-bottom:5px;
	padding-bottom:10px;
	/*border:1px solid #CCC;*/
	float:left;
}

.error
{
color:red;
margin:5px;	
	
}
.error_input
{
color:red;
border: solid 1px red;	
	
}

input.ng-invalid
{
	background-color: pink;
}

.update-field-special input[type="text"],
.update-field-special input[type="number"],
.update-field-special input[type="email"],
.update-field-special input[type="tel"],
.update-field-special input[type="password"] {
	width:80px;
	height:33px;
	margin-bottom:10px;
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
	border:1px solid #CCC;
	float:left;
	
	}


.update-field input[type="text"],
.update-field input[type="number"],
.update-field input[type="email"],
.update-field input[type="tel"],
.update-field input[type="password"] {
	width:310px;
	height:33px;
	margin-bottom:10px;
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
	border:1px solid #CCC;
	float:left;
}
.update-field select {
	width:310px;
	margin-bottom:10px;
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
	float:left;
}


.update-field-special select {
	width:80px;
	margin-bottom:10px;
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
		
}

.bio_edt .update-field input[type="text"],
.bio_edt .update-field input[type="email"],
.bio_edt .update-field input[type="tel"],
.bio_edt .update-field input[type="password"],
.bio_edt .update-field textarea,
.bio_edt .update-field select {
	width:350px;
	border:1px solid #CCC;
}
.upload_btn {
	width:260px;
}

.student_search .update-field {
	text-align:center;
}
.student_search .update-field input[type="text"] {
	width:500px;
	height:24px;
	margin-bottom:10px;
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
	float:left;
}

.cnt form.filter {
	width:100%;
	margin-top:0;
	float:left;
}
.filter-fields {
	width:100%;
	padding:0;
	margin:0;
	margin-bottom:0;
	padding-bottom:0;
	float:left;
}

.filter-field {
	width:180px;
	padding:0;
	margin:0;
	margin-right:10px;
	padding-bottom:5px;
	float:left;
}

.filter-field-subbtn {
	width:auto;
	padding:0;
	margin:0;
	margin-right:0;
	padding-bottom:5px;
	float:left;
}

.filter-field label {
	width:100%;
	font-size:14px;
	line-height:20px;
	font-weight:500;
	color:#333;
	text-align:left;
	float:left;
}

.filter-field select {
	width:180px;
	margin-bottom:10px;
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
	float:left;
}

.sub_btns {
	width:100%;
	margin-top:0px;
	margin-bottom:15px;
	padding-left:0px;
	text-align:left;
	float:left;
}
.m-btn {
	min-width:100px;
	padding:10px 30px 10px 30px;
}

.sml {
	width:100%;
	font-size:12px;
	color:#999;
}

.selctns {
	width:100%;
	font-size:13px;
	line-height:35px;
	margin-bottom:10px;
	float:left;
}

#cnt_dv .cnt .selctns a {
	font-weight:bold;
	color:#008CD2;
}
#cnt_dv .cnt .selctns a:hover {
	font-weight:bold;
	color:#008CD2;
	text-decoration:underline;
}


.update-field-split {
	width:100%;
	padding:0;
	margin:0;
	margin-bottom:5px;
	padding-bottom:0;
	float:left;
}

.update-field-split input[type="text"],
.update-field-split input[type="email"],
.update-field-split input[type="tel"],
.update-field-split input[type="password"] {
	width:40%;
	height:33px;
	margin-bottom:10px;
	margin-right:5%;
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
	border:1px solid #CCC;
	float:left;
}
.update-field-split label {
	width:250px;
	margin-bottom:10px;
	margin-right:5%;
	text-align:left;
	float:left;
}
.update-field-split select {
	width:250px;
	margin-bottom:10px;
	margin-right:5%;
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
	float:left;
}
.update-field-split select.sml {
	width:200px;
	margin-bottom:10px;
	margin-right:5%;
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
	float:left;
}


div.infodiv {
  transition: all linear 0.5s;
  background-color: lightblue;
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.ng-hide.info  {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}