* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #dfe9f5;
}

.container {
    display: flex;
}

nav {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #fff;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 20p 35px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}

nav .fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

.active-nav {
    background: #e5e4e4;
}

nav ul li:first-child:hover {
    background: white;
}

nav ul li:hover {
    background: #eee;
}

.logout {
    position: relative;
    /* I added top... */
    top: 3rem;
    bottom: 0;
}

/* Main Section */
.main {
    position: relative;
    padding: 20px;
    width: 100%;
}

.main-top {
    display: flex;
    width: 100%;
}

.main-top i {
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
}

.main-skills {
    display: flex;
    margin-top: 20px;
}

.main-skills .card {
    width: 25%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.main-skills .card h3 {
    margin: 10px;
    font-size: 1.45rem;
    text-transform: capitalize;
}

.main-skills .card p {
    font-size: 0.8rem;
}

.main-skills .card button {
    background: orangered;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 0.85rem;
    cursor: pointer;
}

.main-skills .card button:hover {
    background: rgba(223, 70, 15, 0.856);
}

.main-skills .card .stroke {
    font-size: 1.5rem;
}

.main-skills .card {
    font-size: 1.25rem;
    padding: 10px;
}

/* Courses */
.main-course {
    margin-top: 20px;
    text-transform: capitalize;
}

.course-box {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.course-box ul {
    list-style: none;
    display: flex;
}

.course-box ul li {
    margin: 10px;
    color: gray;
    cursor: pointer;
}

.course-box ul .active {
    color: #000;
    border-bottom: 1px solid black;
}

.course-box .course {
    display: flex;
}

.box {
    width: 33%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: rgb(235, 233, 233);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.box p {
    font-size: 12px;
    margin-top: 5px;
}

.box button {
    background: black;
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px;
    margin-top: 3rem;
    cursor: pointer;
}

.bos button:hover {
    background: rgba(0, 0, 0, 0.842);
}

.box i {
    font-size: 7rem;
    float: right;
    margin: -20px 20px 20px 0;
}

.box-1 {
    color: rgb(25, 94, 54);
}

.box-2 {
    color: rgb(104, 179, 35);
}

.box-3 {
    color: rgb(28, 98, 179);
}

/* this media query ensures that mobile devices are not allowed to view the page */
@media screen and (max-device-width : 1150px) {

    /* or 950px */
    html,
    body {
        display: none;
        background-color: Black;
    }
}

/* end of media query */


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}