@charset "utf-8";
/* CSS Document */

html{
	 margin:0px;
padding:0px;
	
	}
body{ margin:0px;
padding:0px;

background:url(../images/background1.jpg);
 }


.content-layer
{
max-width:1020px;
margin-top:0;
padding:20px;
padding-top:70px;
color: white;
background:#FFF;
/*box-shadow:1px 1px 3px #000066;*/
border:1px solid #CCC;
}

.div_shadow
{ 
max-width:1000px;
margin-top:100px;
padding:0px;
padding-top:70px
color: white;
box-shadow:-2px -2px 12px #000066;

}
.footerfont
{ font-size:14px;
color:#009;
}
.headback
{ background:url(../images/headerback.fw.png);
width:auto;
height:120px;
border-bottom-color:#000;
margin:0px;
padding:0px;
	
}

.picturecontainer
{
	width:120px;
	height:120px;
	box-shadow:10px 10px 5px #CCCCCC;
	border:solid 3px black;
	border-radius:50%;
	padding:0px;
	margin:30px;
	
	
	
	}
	
.picturecontainer img
{
	width:120px;
	height:120px;
	border-radius:50%;
	margin:0px;
	opacity:0.9;
	
	
	}

.picturecontainer:hover{
	width:125px;
	height:125px;
	
	
	}

.picturecontainer img:hover
{
	width:125px;
	height:125px;
	opacity:1;
}
p.hoverpara:hover
{ color:red;
font-size:14px;
 
	
	}
.readyClass
{
float:right; 
margin-bottom:0px;
margin-top:40px; 
margin-right:20px; 
background-color:#036;
padding:5px;
	
	
	
}

.modalConfig
{ background:#006;
	
	
}

.menusContainer
{ /*width:30%;*/
float:left;
width:300px;
background-color:#CCC;
border:2px thick solid green;
}

.viewContainer
{ width:30%;
float:right;
	
	
	
	
}

.mymargins{ margin:15px}

.shadowstuff
{text-decoration:none; 
float:right; 
margin:25px;
box-shadow:2px 2px 12px #FFFFFF }

.headingstyle
{ color:white; 
cursor:pointer; 
text-decoration:none;
}


/* NEW TEST*/
#myCarousel{
	height:350px;
	width:600px;
	padding:0;
	margin:auto;
	text-align:center;
	margin-top:20px;
	float:left;
}
#myCarousel .carousel-inner{
	height:100%;
	width:100%;
	background-color:black;
	min-width:100%;
	float:left;
}
#myCarousel > .carousel-inner > .item > img{
	height:350px;
	width:100%;
	float:left;
}