@charset "utf-8";
/* CSS Document */
#hme_cnt_dv {
	width:100%;
	background-color:#FFF;
	margin:0;
	font-size:14px;
	margin-top:0;
	margin-bottom:15px;
	text-align:left;
	float:left;
}
#cnt_dv {
	width:400px;
	height:auto;
	margin-right:30px;
	background-color:#FFF;
	font-size:14px;
	padding:0;
	text-align:left;
	border:1px solid #CCC;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
			box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding;
			background-clip: padding-box;
	float:left;
}
#cnt_dv .disp_img {
	width:100%;
	margin:0;
	padding:0;
	float:left;
}
#cnt_dv .disp_img img {
	width:100%;
	height:auto;
}
#cnt_dv .disp_cnt {
	width:380px;
	height:130px;
	margin:0;
	padding:10px;
	background:#4B8CF7;
	color:#FFF;
	float:left;
}
#cnt_dv .disp_cnt h3 {
	width:100%;
	font-size:18px;
	text-transform:uppercase;
	text-shadow:none;
	margin-bottom:20px;
	color:#FFF;
	float:left;
}

#hme_lcnt_dv{
	position:relative;
	width:358px;
	height:350px;
	margin-left:20px;
	margin-top:20px;
	background-color:#FFF;
	font-size:14px;
	padding:0 10px;
	text-align:left;
	border:1px solid #CCC;
	/*-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
			box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding;
			background-clip: padding-box;*/
	float:left;
}
#mid_hme_lcnt_dv {
	position:relative;
	width:400px;
	height:450px;
	margin:20px auto;
	background-color:#FFF;
	font-size:14px;
	padding:10px 10px 10px 30px;
	text-align:left;
	border:1px solid #CCC;
}

#hme_cnt_dv.tp_cnt_dv {
	position:relative;
	width:100%;
	min-height:250px;
	background-color:#FFF;
	font-size:14px;
	text-align:left;
	float:left;
}
#hme_cnt_dv.tp_cnt_dv .cnt_vl {
	position:relative;
	width:100%;
	min-height:250px;
	background-color:#FFF;
	color:#333;
	font-size:16px;
	line-height:24px;
	padding:10px;
	text-align:left;
	float:left;
}

#hme_lcnt_dv .hd, #mid_hme_lcnt_dv .hd, .tp_cnt_dv .hd {
	width:100%;
	font-size:28px;
	color:#4B8CF7;
	padding:10px 10px 0 10px;
	line-height:30px;
	float:left;
}
#hme_lcnt_dv .hd .logo, #mid_hme_lcnt_dv .hd .logo, .tp_cnt_dv .hd .logo {
	width:100%;
	height:30px;
	line-height:30px;
	margin-right:10px;
	float:left;
}
#hme_lcnt_dv .hd .logo img, #mid_hme_lcnt_dv .hd .logo img, .tp_cnt_dv .hd .logo img {
	width:100%;
	height:100%;
}

#hme_lcnt_dv .cnt, #mid_hme_lcnt_dv .cnt {
	width:326px;
	color:#008CD2;
	padding:30px 10px 0 10px;
	line-height:30px;
	float:left;
}
.tp_cnt_dv .cnt {
	width:100%;
	color:#008CD2;
	padding:30px 10px 0 10px;
	line-height:30px;
	float:left;
}
#hme_lcnt_dv .cnt a, #mid_hme_lcnt_dv .cnt a, .tp_cnt_dv .cnt a {
	color:#B25624;
}
#hme_lcnt_dv .cnt a.sml, #mid_hme_lcnt_dv .cnt a.sml, .tp_cnt_dv .cnt a.sml {
	font-size:12px;
}

.update-field {
	width:100%;
	padding:0;
	margin:0;
	margin-bottom:15px;
	padding-bottom:10px;
	float:left;
}

.lst_fld {
	border-bottom:none;
	margin-bottom:0;
	padding-bottom:0;
}
.update-field label {
	width:100%;
	font-size:14px;
	font-weight:500;
	margin-right:20px;
	color:#333;
	float:left;
}
.update-field label .det_abt {
	width:100%;
	font-size:12px;
	font-weight:normal;
	color:#999;
	float:left;
}
.update-field .acct_txt {
	width:350px;
	float:left;
}
.update-field .acct_txt .acct_txt_main {
	width:280px;
	margin-right:20px;
	float:left;
}
.update-field .acct_txt .acct_txt_edt {
	width:50px;
	font-size:12px;
	font-weight:bold;
	text-align:right;
	float:right;
}
.update-field .acct_txt .acct_txt_edt a {
	display:none;
}
.update-field:hover .acct_txt .acct_txt_edt a {
	display:inline;
}

.update-field .acct_edit {
	background-color:#F9F9F9;
	width:330px;
	padding:10px;
	display:none;
	float:left;
}
.update-field .acct_edit .acct_edit_txt{
	width:100%;
	font-size:12px;
	font-weight:bold;
	float:left;
}
.sub_btns {
	width:100%;
	margin-top:5px;
	margin-bottom:15px;
	float:left;
}
.m-btn {
	min-width:100px;
	padding:10px 30px 10px 30px;
	float:left;
}

.update-field input[type="text"],
.update-field input[type="password"] {
	width:310px;
	height:23px;
	margin-bottom:10px;
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
	float:left;
}
.update-field select {
	width:320px;
	margin-bottom:10px;
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
	float:left;
}

.rght-cnt {
	text-align:right;
}



.silent-ths {
	display:none;
}

#bt_cnt_dv {
	width:100%;
	background-color:#FFF;
	margin:20px 0;
	padding:20px 0;
	font-size:14px;
	color:#333;
	border-top:1px solid #CCC;
	text-align:left;
	float:left;
}
#mainp_note{
	position:relative;
	width:70%;
	float:left;
}
#mainp_note .hd {
	width:100%;
	font-size:22px;
	color:#900;
	padding:10px 10px 0 10px;
	line-height:30px;
	float:left;
}
#mainp_note ol{
	width:100%;
	margin-top:20px;
	float:left;
}
#mainp_note ol li{
	width:100%;
	font-size:14px;
	line-height:28px;
	float:left;
}
#mainp_quote{
	width:30%;
	float:left;
}

.subq_dv{
	width:50%;
	padding-left:30px;
	float:left;
}
.lck_dv{
	width:30px;
	text-align:right;
	padding-right:10px;
	line-height:50px;
	float:left;
}
.sub_dv{
	width:150px;
	text-align:left;
	padding:15px 10px 15px 0;
	font-size:14px;
	line-height:20px;
	float:left;
}
.btn_dv{
	width:auto;
	text-align:left;
	padding-right:10px;
	font-size:14px;
	line-height:50px;
	float:left;
}
.binf{
	width:400px;
	text-align:left;
	margin-bottom:10px;
	font-size:14px;
	float:left;
}
.binf_lbl{
	width:120px;
	text-align:left;
	padding-right:10px;
	font-size:14px;
	font-weight:bold;
	float:left;
}

ul.side_mnu_cnt {
	width:90%;
	padding:0;
	border-right:2px solid #CCC;
	padding-right:10px;
	list-style:none;
	float:left;
}
li.side_mnu{
	width:100%;
	/*border-bottom:1px solid #CCC;*/
	padding:5px;
	padding-left:2px;
	margin-bottom:2px;
	list-style:none;
	float:left;
}
li.side_mnu:hover{
	color:#FFF;
	background:#CCC;
	padding-left:0;
	border-left:4px solid #00F;
}
li.active_mnu{
	color:#FFF;
	background:#CCC;
	padding-left:0;
	border-left:4px solid #F00;
}
li.active_mnu a{
	color:#FFF;
	background:#CCC;
	text-decoration:none;
}
li.side_mnu a{
	width:100%;
	text-decoration:none;
	padding:5px 10px;
	float:left;
}
li.side_mnu:hover a{
	color:#FFF;
	text-decoration:none;
	float:left;
}
li.side_mnu:last-child{
	border-bottom:none;
}

/* Fix for Bootstrap 3 with Angular UI Bootstrap */

.modal { 
	display: block;
}

/* Custom dialog/modal headers */
.modal-dialog {
    width: 500px;
    margin: 100px auto;
  }
.modal-content {
  border-radius: 0;
  font-size:14px;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 10px 20px;
  border-bottom: none;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px 20px;
}
.modal-footer {
  padding: 10px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  background:#0FF;
}
.modal-footer .m-btn{
  float:right;
}
.modal-footer .m-btn + .m-btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .m-btn + .m-btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.m-body p{
	line-height:40px;
	font-size:14px;
}
i.modal_icn{
	font-size:40px;
	line-height:40px;
	margin-right:10px;
	float:left;
}
i.green{
	color:#35aa47;
}
i.red{
	color:#d84a38;
}

a.back_btn{
	text-decoration:none;
}
a.back_btn:hover {
	text-decoration:none;
}

.info_dv{
	background:#0FF;
	width:550px;
	margin:10px auto;
	padding:10px 15px;
}
.success_dv{
	background:#9F9;
	width:550px;
	margin:10px auto;
	padding:10px 15px;
}
.warning_dv{
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #8a6d3b;
	width:550px;
	margin-bottom:20px;
	padding:10px 15px;
	float:left;
}
.error_dv{
	color: #a94442;
	background-color: #f2dede;
	border-color: #a94442;
	width:550px;
	margin-bottom:20px;
	padding:10px 15px;
	float:left;
}
.info_dv p{
	font-size:14px;
}
.info_dv h2{
	width:100%;
	font-size:30px;
	line-height:40px;
	float:left;
}