/* CSS Document */

/* Body and structure
-------------------------------------------------- */
body {
  min-height:600px;
  position: relative;
  background-color: #FFF;
  font-size:14px;
}
.navbar{
	min-height:50px;
	margin:0;
	padding:0;
}
.navbar-inverse {
    background-color: #245385;
    border-color: #080808;
    border-bottom: none;
}

#nav-cnt{
	margin:auto;
	width:1020px;
	text-align:left;
}
.navbar-search .search-query {
  margin-top: 2px;
  padding: 4px 10px;
  font-size: 13px;
  font-weight: normal;
  height: 18px;
  line-height: 18px;
  border: 1px solid #D9D9D9;
  background-color: #FFF;
  color: #A9A9A9;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
		  
	margin-right:0;
}

.navbar-search .search-query:-moz-placeholder {
  color: #A9A9A9;
}

.navbar-search .search-query:-ms-input-placeholder {
  color: #A9A9A9;
}

.navbar-search .search-query::-webkit-input-placeholder {
  color: #A9A9A9;
}

.navbar-search .search-query:focus,
.navbar-search .search-query.focused {
  color: #A9A9A9;
  text-shadow: none;
  background-color: #FAF9F7;
  border: 1px solid #D9D9D9;
  outline: 0;
  padding: 4px 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.navbar-search input[type="text"] {
	width:220px;
}
.navbar-inner .btn {
	margin-top:-2px;
}
.navbar-search .btn {
	width:15px;
	margin-top:2px;
	margin-bottom:0;
	margin-left:0;
}

.input-append .btn {
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  border-top-left-radius:0;
  border-top-right-radius:0;
  -webkit-border-radius: 0;
   -moz-border-radius: 0;
		border-radius: 0;
  margin-left:-5px;
}

.logreg-btn {
	padding:5px;
	color:#D5D5D5;
	right:0;
}
.logreg-btn a {
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	margin:0 5px 0 10px;
}

.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  min-width:50px;
  margin-left:0;
  margin-right:20px;
  line-height:50px;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
  float: left;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}
.navbar-fixed-top .brand img {
	height:35px;	
}

.navbar .nav > li > a{
	font-weight:bold;
}

.tooltip-inner {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}


.navbar-inner {
	background:#303030;
	min-height:20px;
   opacity: .95;
   filter: alpha(opacity=95);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.navbar-inner .container {
	width:840px;
	margin:0 auto;
}

.span1_0 {
	width:20px;
}
.nav .icn {
	font-size:20px;
	font-weight:bold;
	float:left;
}
.nav .icn2 {
	font-size:25px;
	font-weight:bold;
	margin-top:-3px;
	float:left;
}

.nav > li.icns{
	font-size:14px;
	margin-right:10px;
	padding-right:0;
	margin-top:-2px;
}
.nav > li.icns > a {
	color:#B8B8B7;
    font-weight: bold;
	margin-right:0;
	text-shadow:none;
	padding-right:0;
}
.nav > li.icns > a:hover {
	color:#F1F1F1;
}

.nav_icn {
	margin-right:5px;
	margin-top:-3px;
}
.navbar .nav > li.dropdown > a.home {
	color:#C6C6FF;
}
.nav > li > a {
	margin-top:4px;
	font-size:13px;
}
.bld {
	font-weight:bold;
}
.normal {
	font-weight:normal;
}
.smll {
	font-size:13px;
	font-weight:normal;
	text-transform:none;
}
.blck {
	color:#333;
}
.whte {
	color:#FFFFFF;
}
.idc {
	/*margin-top:-0.83em;
	float:left;*/
}

li > a .badge {
  padding: 2px 8px 2px;
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
	background-color:#CC1F26;
	margin:0;
	margin-left:5px;
	/*float:right;
	color:#977DBF;*/
}
li > a:hover .badge {
	background-color:#FFF;
	color:#CC1F26;
}

.nav-inner .nav > li.dropdown > a {
  /*color:#B8B8B7;*/
  color:#FFF;
  text-shadow:none;
  margin-bottom:0;
  margin-left:0;
  /*margin-right:12px;*/
  padding:9px 0 0;
  float:left;
}
.nav > li.dropdown > a:hover {
  /*color:#CC1F26;*/
  color:#FFF;
  text-shadow:none;
  /*margin-bottom:-7px;*/
  margin-left:0;
  /*margin-right:0.83em;*/
}
.nav > li.dropdown > a.icns  {
  color:#B8B8B7;
  text-shadow:none;
  float:left;
  width:100%;
  margin-top:7px;
}
.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
	margin-left:5px;
	border-top: 6px solid #FFF;
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}

.navbar .nav li.dropdown:hover .dropdown-toggle .caret,
.navbar .nav li.dropdown:hover.open .caret,
.navbar .nav li.dropdown.open .caret {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}

.navbar .nav li.dropdown {
  margin:0 5px 0 0;
}
.navbar .nav li.dropdown > .dropdown-toggle {
  color: #F5F5F5;
  margin:0;
}
.navbar .nav li.dropdown > .dropdown-ntoggle {
  color: #F5F5F5;
  margin:0;
}

/*.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  line-height:20px;
  color: #FFF;
  border-bottom:2px solid #FFF;
  padding-top:12px;
}*/
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .nav li.dropdown > a.active {
  color: #FFF;
  /*background-color: #FFF;
  padding-top:12px;*/
  background-color: #CD61CD;
  opacity: .95;
  /*border-bottom:4px solid #FFF;*/
}

.nav > li.dropdown:hover .caret {
   /* margin-top:5px;*/
	opacity: 1;
	filter: alpha(opacity=100);
}
.nav > li.dropdown:hover {
   color: #FFF;
  /*background-color: #FFF;
  padding-top:12px;*/
  background-color: #245375;
  background-color: #CD61CD;
  opacity: .95;
}
.dropdown-menu {
  min-width: 160px;
  padding: 2px 0;
  margin-right:10px;
  margin-top:0;
}
.navbar .nav li.dropdown .dropdown-menu {
  min-width: 200px;
  padding: 2px 0;
  margin-right:10px;
  margin-top:0;
  border-top:none;
}
.dropdown-menu > li > a {
	line-height:25px;
}
.dropdown-menu > li > a:hover {
	background-color:#999999;
	color:#FFF;
}


#body-sect {
	overflow:hidden;
	width:800px;
	min-height:600px;
	font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #333;
    -webkit-font-smoothing: antialiased;
	text-shadow:none;
	margin-bottom:50px;
	margin:0 auto;
	padding:10px;
	background:#FFF;
	
	-webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
#foot-cnt{
	margin:auto;
	width:1020px;
	text-align:right;
}
#footer-info {
	padding:10px;
	text-align:center;
}
#footer_info_lnks {
	color:#999;
	margin-top:10px;
}
#footer_info_copy {
	color:#999;
}
.btn {
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}


.content-layer{
	width:100%;
	min-height:500px;
}