.announcements {
    background-color: white;
    width: 90%;
    border-radius: 10px;
    padding: 15px 20px;
    margin-top: 30px;
    margin-left: 1.2rem;
    /* margin-left: auto;
    margin-right: auto; */
}

.announcements h2 {
    color: orangered;
}

.announcements p {
    margin-top: 10px;
}