.main-skills {
    /* display: flex; */
    margin-top: 20px;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    display: grid;
    grid-template-columns: 6fr 6fr 6fr;
    grid-column-gap: 2px;
    width: 100%;
    grid-row-gap: 2px;
    justify-items: stretch;
    align-items: stretch;
}

.main-skills .card {
    width: 80%;
    margin: 10px;
    background: #fff;
    /* text-align: center; */
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.main-skills .card h3 {
    margin: 10px;
    font-size: 1.45rem;
    text-transform: capitalize;
}

.main-skills .card p {
    font-size: 0.8rem;
}

.main-skills .card button {
    background: orangered;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 0.85rem;
    cursor: pointer;
}

.main-skills .card button:hover {
    background: rgba(223, 70, 15, 0.856);
}

.main-skills .card .stroke {
    font-size: 1.5rem;
}

.main-skills .card {
    font-size: 1.25rem;
    padding: 10px;
}