.help {
    background: white;
    display: block;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    justify-content: center;
    margin-top: 50px;
    margin-left: 20px;
}

.help input {
    background: #dadada;
    color: black;
    display: block;
    padding: 10px;
    width: 90%;
    height: 100%;
    border: 5px solid white;
    border-radius: 10px;
}

form {
    margin-left: 2rem;
    margin-right: 0;
    padding: 5px;
}

::placeholder {
    color: black;
    font-size: 1rem;
    /* padding: 5px; */
}

textarea {
    background: #dadada;
    color: black;
    resize: vertical;
    /* border-radius: 10px; */
    width: 87%;
    height: 5rem;
    margin-left: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

textarea::placeholder {
    padding: 10px;
}

.buttons {
    display: flex;
    margin-left: 0;
}

.submit {
    display: flex;
    background: #53AF50;
    width: 35%;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
    cursor: pointer;
    margin: 10px 10px 0px 20px;
}

.submit button {
    /* background: #dadada; */
    cursor: pointer;
    padding: 5px;
    width: 60%;
    font-size: 1rem;
    background-color: #4CAF50;
    border-radius: 5px;
    /* margin: 10px 10px 10px 10px; */
    /* margin-left: 50rem; */
}

.submit i {
    margin-top: 7px;
}

.cancel {
    display: flex;
    background-color: #E96565;
    width: 35%;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
    cursor: pointer;
    margin: 10px 10px 0px 20px;
}

.cancel button {
    /* background: #dadada; */
    cursor: pointer;
    padding: 5px;
    width: 60%;
    font-size: 1rem;
    background-color: #E96565;
    border-radius: 5px;
    /* margin: 10px 10px 10px 10px; */
    /* margin-left: 50rem; */
}

.cancel i {
    margin-top: 7px;
}