.payments h2 {
    color: red;
    margin-top: 20px;
}

.pay-btn {
    display: flex;
    padding: 10px;
    background: #53AF50;
    border: none;
    border-radius: 5px;
    width: 20%;
    margin-top: 20px;
    margin-right: 0px;
    padding-right: 0;
}

.pay-btn button {
    color: black;
    background: none;
    font-size: 1.1rem;
    display: flex;
    padding: 5px;
    cursor: pointer;
}

.pay-btn i {
    font-size: 1.2rem;
    display: flex;
    margin-top: 7px;
    margin-left: 12px;
}