.main img {
    width: 15%;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    margin: 50px 0px 10px 20px;
    right: 0;
}

.edit-image {
    margin-top: 14rem;
    margin-left: -6.5rem;
    padding: 5px;
    float: left;
    width: 7%;
    font-size: 1rem;
    background: rgb(234, 101, 101);
    border-radius: 5px;
    cursor: pointer;
}

.primary {
    background-color: white;
    width: 25%;
    padding: 10px;
    margin: 20px 0px 0px 10px;
    border-radius: 15px;
    font-size: 18px;
}

.primary h3 {
    text-align: center;
    padding: 5px;
}

.primary p {
    /* background: #d4d2d2; */
    background: #dadada;
    /* background-color: rgb(110, 109, 109); */
    padding: 10px;
    border: 8px solid white;
    border-radius: 10px;
}

.profile {
    display: flex;
    gap: 30px;
    float: center;
    justify-content: right;
}

.edit {
    width: 100%;
    background-color: none;
    /* background: black; */
    padding: 10px;
    margin: 12px 0px 0px 0px;
}

.edit button {
    padding: 10px;
    width: 10%;
    font-size: 1rem;
    background: rgb(234, 101, 101);
    border-radius: 5px;
    margin-left: 50rem;
    cursor: pointer;
}