.settings {
    background-color: white;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.settings input {
    display: block;
    width: 100%;
    padding: 10px;
    background: #dadada;
    justify-content: center;
    border: 5px solid white;
    border-radius: 10px;
    font-size: 1.2rem;
}

.password {
    display: flex;
}

.password input {
    margin-right: 0;
    width: 93%;
}

.password i {
    cursor: pointer;
    margin-top: 0.3rem;
    height: 40px;
    padding: 6px;
    background: #dadada;
    border-radius: 5px;
    margin-left: 0;
    margin-left: 0;

}


.buttons {
    display: flex;
    width: 100%;
    gap: 10px;
    background-color: none;
    /* background: black; */
    padding: 5px;
    margin: 12px 0px 0px 0px;
    justify-content: center;
}

.delete {
    padding: 10px;
    width: 30%;
    font-size: 1rem;
    background: rgb(234, 101, 101);
    border-radius: 5px;
    /* margin: 180px 0px 0px 10px; */
    /* margin-left: 50rem; */
    cursor: pointer;
}

.save {
    padding: 10px;
    width: 30%;
    font-size: 1rem;
    background-color: #4CAF50;
    border-radius: 5px;
    /* margin: 10px 10px 10px 10px; */
    /* margin-left: 50rem; */
    cursor: pointer;
}