.settings {
    background-color: white;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}

.settings input {
    display: block;
    width: 100%;
    padding: 10px;
    background: #dadada;
    justify-content: center;
    border: 5px solid white;
    border-radius: 10px;
    font-size: 1rem;
}

.password {
    display: flex;
}

.password i {
    cursor: pointer;
    padding: 6px;
}

.password button {
    background: none;
}

.edit {
    display: block;
    width: 100%;
    background-color: none;
    /* background: black; */
    padding: 10px;
    margin: 12px 0px 0px 0px;
}

.edit button {
    padding: 10px;
    width: 10%;
    font-size: 1rem;
    background: rgb(234, 101, 101);
    border-radius: 5px;
    /* margin-left: 50rem; */
    cursor: pointer;
}

.save button {
    padding: 10px;
    width: 10%;
    font-size: 1rem;
    background: rgb(234, 101, 101);
    border-radius: 5px;
    /* margin-left: 50rem; */
    cursor: pointer;
}