body {
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    position: absolute;
    margin-top: 80px;
    margin-bottom: 4rem;
    height: 720px;
    padding-bottom: 20px;
    /* padding-top: 10px; */
}

.label {
    margin-top: 20px;
}

.email01 {
    margin-top: 10px;
    margin-bottom: 0;
}

#submitData {
    margin-top: 0px;
}

.login-link {
    padding-bottom: 30px;
}