@import url(https://fonts.googleapis.com/css?family=Roboto);

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    background-color: #080710;
} */

body {

    font-size: 16px;
    /* font-family: Inter; */
    font-family: Verdana;
    /* font-family: "Roboto"; */
    /* background-color: #0C1F46; */
    background-color: #4281DB;
    /* the bells background color */
    /* background-color: #B89407; */
}

img {
    margin-top: -20px;
    padding: 0;
}

input {
    color: #eaf0fb;
}

span.reset-pwd {
    float: right;
    padding-top: 16px;
}

.remember {
    margin-top: 10px;
    margin-bottom: -20px;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad,
            #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819);
    right: -30px;
    bottom: -80px;
}

form {
    height: 570px;
    width: 400px;
    /* background-color: rgba(255, 255, 255, 0.13); */
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    /* color: #ffffff; */
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    /* color: #0C1F46; */
    color: #4281DB;
}

.text {
    display: block;
    height: 50px;
    width: 100%;
    color: #4281DB;
    /* color: #0C1F46; */
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    border: 1px solid #0C1F46;
    padding: 0 10px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #878383;
}

button {
    margin-top: 20px;
    width: 100%;
    background-color: #4281DB;
    /* background-color: #0C1F46; */
    color: #fff;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.reset {
    width: 40%;
    margin-right: 15%;
}

.cancel {
    width: 40%;
}

.social {
    margin-top: 30px;
    display: flex;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}

.h3 {
    font-size: 1.7rem;
}

option,
select {
    font-weight: 500;
}

.Logo1 {
    margin: 0;
    padding: 0;
}


.password-box i {
    display: flex;
    margin-top: -2rem;
    margin-left: 18rem;
}

.secret-answer i {
    display: flex;
    margin-top: -2rem;
    margin-left: 18rem;
}

.instruction {
    margin-top: 1.5rem;
    font-size: 0.75rem;
    padding: 0;
    color: red;
}